<ng-container *ngIf="usersState$ | async as state" [ngSwitch]="state.dataState" ]>
  <h2 *ngSwitchCase="StateEnum.INITIAL">Initial State</h2>
  <h2 *ngSwitchCase="StateEnum.LOADING">Loading users...</h2>
  <h2 class="text-danger" *ngSwitchCase="StateEnum.ERROR">{{state.errorMessage}}</h2>
  <div *ngSwitchCase="StateEnum.LOADED">
    <div class="row p-4">
      <div class="col-md-3" *ngFor="let user of state.users">
        <div class="card mb-2">
          <img class="card-img-top" src="{{user.avatar_url}}" alt="Avatar" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{user.login}}</h4>
            <a routerLink="/users/{{user.login}}" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
