<ng-container *ngIf="usersState$ | async as state" [ngSwitch]="state.dataState" ]>
  <h2 *ngSwitchCase="UserStateEnum.INITIAL">Initial State</h2>
  <h2 *ngSwitchCase="UserStateEnum.LOADING">Loading users...</h2>
  <div *ngSwitchCase="UserStateEnum.LOADED">
    <div class="row">
      <div class="col-md-3" *ngFor="let user of state.users">
        <div class="card m-1">
          <img class="card-img-top" src="{{user.avatar_url}}" alt="Avatar" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{user.login}}</h4>
            <button (click)="showProfile(user.login)" class="btn btn-primary">See Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
